body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/random_grey_variations.png");
	font-size: 20px;

}

h1
{
	font-size: 42px;
	font-weight: 400;
	color: white;
	margin-bottom: 20px;
	text-align: center;
}

.row
{
	background-color:white;
	width: 350px;
	padding:50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	-webkit-box-shadow: 9px 9px 3px 3px rgba(0,0,0,1);
	-moz-box-shadow: 9px 9px 3px 3px rgba(0,0,0,1);
	box-shadow: 9px 9px 3px 3px rgba(0,0,0,1);
}

input[type=text],
input[type=password],
input[type=email]
{
	width: 350px;
	background-color: #858585;
	color:  #ededed;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	padding:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(107,81,78,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(107,81,78,0.9);
	box-shadow: 0px 0px 10px 2px rgba(107,81,78,0.9);
	border: 2px solid #66150d;
	background-color:#91281f;
	color:white;
}

input[type=submit]
{
	width:350px;
	background-color:#91281f;
	font-size: 16px;
	color:white;
	padding: 15px 10px;
	margin-top: 35px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
}

input[type=submit] a
{
	text-decoration:none;
}

input[type=button]
{
	width:350px;
	margin-left:auto;
	margin-right:auto;
	background-color:#91281f;
	font-size: 12px;
	color:white;
	padding: 5px 3px;
	margin-top: 45px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
}

input[type=submit]:hover
{
	background-color:white;
	color:#8f423c;
	font-weight: 700;
	font-size: 26px;
}

input[type=button]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
}

input[type=button]:hover
{
	background-color:white;
	color:#8f423c;
	font-weight: 700;
	font-size: 14px;
}

input::-webkit-input-placeholder
{
    color: #000000;
}
input:focus::-webkit-input-placeholder
{
    color: white;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #000000;
}
input:focus:-moz-placeholder
{
    color: white;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #000000;
}
input:focus::-moz-placeholder
{
    color: white;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #000000;
}
input:focus:-ms-input-placeholder
{
    color: #000000;
}

.info
{
	margin-left:auto;
	margin-right:auro;
	text-align: center;
	padding:25px;
	color: white;
}

/*main menu*/
#navigation
{
	background-color:#000000;
	text-align: center;
	margin-left:24%;
	margin-right:24%;
	
}

.menu
{
	list-style-type:none;
	margin:0px;
	padding:10px;
	font-size:18px;
	min-height:38px;
	line-height:200%;	
}

.menu > li
{
	display: inline-block;
	padding-left:20px;
	padding-right:20px;
	border-right:1px dashed #ffffff;
}
.menu > li:first-child
{
	border-left:1px dashed #ffffff;
}

.menu a
{
	color:white;
	text-decoration:none;
}

.menu a:hover
{
	color:#8f423c;
}


.image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.homePage
{
	text-decoration:none;
	color: white;
}

.homePage a
{
	text-decoration:none;
	color: white;
}

.homePage a:hover
{	
	color: #8f423c;
}

.homePage .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.homePage:hover .tooltiptext {
  visibility: visible;
}

