body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/random_grey_variations.png");
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;

}

h1
{
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 20px;
	margin-top: 20px;
	text-align: center;
	width:100%;
	padding:5px;
	
}

h2
{
	padding:5px;
	width:100%;
	text-align: center;
}

#logowanie
{
	padding:50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;	
	align-items: center;
  justify-content: center;
}



input[type=text],
input[type=password],
input[type=email],
input[type=number]
{
	width: 350px;
	background-color: #858585;
	color:  #ededed;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	padding:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:10px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(107,81,78,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(107,81,78,0.9);
	box-shadow: 0px 0px 10px 2px rgba(107,81,78,0.9);
	border: 2px solid #66150d;
	background-color:#9ACD32;
	color:#262626;
}

input[type=submit],
input[type=reset]
{
	width:350px;
	background-color:#9ACD32;
	font-size: 20px;
	font-weight: 700;
	color:#262626;
	padding: 15px 10px;
	margin-top: 35px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	
}

input[type=submit] a
{
	text-decoration:none;
}

/*input[type=button]*/
.loginToRegister
{
	width:350px;
	margin-left:auto;
	margin-right:auto;
	background-color:#91281f;
	font-size: 12px;
	color:white;
	padding: 5px 3px;
	margin-top: 35px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	text-align: center;
}

a.registerLink 
{
	text-decoration: none;
}

input[type=submit]:focus,
input[type=reset]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
}

input[type=submit]:hover,
input[type=reset]:hover
{
	
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	color: #8f423c;
	font-weight: 700;
	font-size: 20px;
}

/*input[type=button]:focus*/
.loginToRegister:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
}


/*input[type=button]:hover*/
.loginToRegister:hover
{
	background-color:white;
	color:#8f423c;
	font-weight: 700;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

input::-webkit-input-placeholder
{
    color: #000000;
}
input:focus::-webkit-input-placeholder
{
    color: white;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #000000;
}
input:focus:-moz-placeholder
{
    color: white;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #000000;
}
input:focus::-moz-placeholder
{
    color: white;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #000000;
}
input:focus:-ms-input-placeholder
{
    color: #000000;
}

.info
{
	margin-left:auto;
	margin-right:auro;
	text-align: center;
	padding:25px;
	color: white;
}

/*main menu*/
#navigation
{
	background-color:#000000;
	text-align: center;
	margin-left:21%;
	margin-right:21%;
	
}

.menu
{
	list-style-type:none;
	margin:0px;
	padding:10px;
	font-size:18px;
	min-height:38px;
	line-height:200%;	
}

.menu > li
{
	display: inline-block;
	padding-left:20px;
	padding-right:20px;
	border-right:1px dashed #ffffff;
}
.menu > li:first-child
{
	border-left:1px dashed #ffffff;
}

.menu a
{
	color:white;
	text-decoration:none;
}

.menu a:hover
{
	color:#8f423c;
}


.image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.homePage
{
	text-decoration:none;
	color: white;
}

.homePage a
{
	text-decoration:none;
	color: white;
}

.homePage a:hover
{	
	color: #8f423c;
}

.homePage .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.homePage:hover .tooltiptext {
  visibility: visible;
}

/* logout */

#container
{
	padding:0;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}





/* add income */

.addForm
{
	background-color:#000000;
	color:white;
	width: 350px;
	padding:50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

textarea { resize: none; }

#container2
{
	padding:0px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.tile2
{
	width: 350px;
	display: inline-block;
	margin-top:40px;
	
	background-color: #000000;
	height: 122px;
	
}

.tile2:hover
{
	opacity: 0.5;
}

.ui-datepicker {
    width: 300px;
    height: 300px;
    margin: 5px auto 0;
    font: 12pt Arial, sans-serif;
    /*-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .5);*/
}

    .ui-datepicker table {
        width: 100%;
    }

.ui-datepicker-header {
    background: #8f423c;
    color: #ffffff;
    font-family:'Times New Roman';
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #111;
}

.ui-datepicker-title {
    text-align: center;
    font-size: 15px;

}

.ui-datepicker-prev {
    float: left;
    cursor: pointer;
    background-position: center -30px;
}

.ui-datepicker-next {
    float: right;
    cursor: pointer;
    background-position: center 0px;
}

.ui-datepicker thead {
    background-color: #f7f7f7;

    /*border-bottom: 1px solid #bbb;*/
}

.ui-datepicker th {
    background-color:#808080;
    text-transform: uppercase;
    font-size: 8pt;
    color: #666666;
    /*text-shadow: 1px 0px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=0);*/
}

.ui-datepicker tbody td {
    padding: 0;
    /*border-right: 1px solid #808080;*/
}

    .ui-datepicker tbody td:last-child {
        border-right: 0px;
    }

.ui-datepicker tbody tr {
    border-bottom: 1px solid #bbb;
}

    .ui-datepicker tbody tr:last-child {
        border-bottom: 0px;
    }

.ui-datepicker a {
    text-decoration: none;
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    /*font-weight: bold;*/
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #ffffff;
    /*text-shadow: 1px 1px 0px #fff;*/
    /*filter: dropshadow(color=#fff, offx=1, offy=1);*/
}

.ui-datepicker-calendar .ui-state-default {
      background: linear-gradient(#999999, #737373);
      color:#ffffff;
      height:40px;
      width:40px;

}

.ui-datepicker-calendar .ui-state-hover {
    background: #8f423c;
    color: #FFFFFF;
}

.ui-datepicker-calendar .ui-state-active {
    background: #8f423c;;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, .1);
    color: #e0e0e0;
    text-shadow: 0px 1px 0px #4d7a85;
    border: 1px solid #55838f;
    position: relative;
    margin: -1px;
}

.ui-datepicker-unselectable .ui-state-default {
    background: #D6E4BE;
    color: #000;
}

#ui-datepicker-div {display: none;}

.blockquote
{
	line-height:120%;
}

.opis img
{
	width: 30%;
	height: auto;
	
}

.opis
{
	text-align:center;
	color: white;
}

.tilelink 
{
	color:black;
}
.tile
{
	text-align:center;
	font-size:16px;
	background-color:#9ACD32;
}
.tile:hover
{
	opacity:0.5 !important;
}
.icon-login:hover > span {color: red}


a.tilelink 
{
		
	color: black;
	text-decoration: none;
	text-align:center;
		
}

a.tilelink:hover
{
	color: red;	
		
}

@media (max-width:767px)
{

	a.tilelink 
	{
		
		color: black;
		text-decoration: none;
		text-align:center;
		
	}
	.tilelink
	{
		text-align:center;
		font-size:16px;
		text-decoration: none;
		
	}
	
	
}

.naglowek
{
	background-color:#9ACD32;
}
