body
{
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/random_grey_variations.png");
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;

}

h1
{
	font-weight: 700;
	font-size: 28px;
	margin-bottom: 20px;
	margin-top: 5px;
	text-align: center;
	width:100%;
	padding:5px;
	
}

h2
{
	padding:5px;
	width:100%;
	text-align: center;
}

#logowanie
{
	padding:40px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;	
	align-items: center;
	justify-content: center;
}



.inputWithIcon input[type=text],
.inputWithIcon input[type=password],
.inputWithIcon input[type=email],
.inputWithIcon input[type=number],
.inputWithIcon input[type=date]

{
	width: 350px;
	background-color: #858585;
	color:  #ededed;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	padding:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:10px;
	padding-left:40px;
}

.inputWithIcon input[type=text]:focus,
.inputWithIcon input[type=password]:focus,
.inputWithIcon input[type=email]:focus,
.inputWithIcon input[type=number]:focus,
.inputWithIcon input[type=date]:focus
{
	-webkit-box-shadow: 0px 0px 10px 2px rgba(107,81,78,0.9);
	-moz-box-shadow: 0px 0px 10px 2px rgba(107,81,78,0.9);
	box-shadow: 0px 0px 10px 2px rgba(107,81,78,0.9);
	border: 2px solid #66150d;
	background-color:#9ACD32;
	color:#262626;
}

.inputWithIcon2
{
	width: 350px;
	background-color: #858585;
	color:  #ededed;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
	padding-top:10px;
	padding-bottom:10px;
	box-sizing: border-box;
	outline:none;
	margin-top:20px;
	
}

.inputWithIcon2 input[type='radio'] {
    -webkit-appearance:none;
    width:16px;
    height:16px;
    border:1px solid darkgray;
    border-radius:10%;
    outline:none;
    box-shadow:0 0 5px 0px black inset;
	vertical-align: middle;
	
}
.inputWithIcon2 input[type='radio']:hover {
    box-shadow:0 0 5px 0px #8f423c inset;
}
.inputWithIcon2 input[type='radio']:before {
    content:'';
    display:block;
    width:50%;
    height:50%;
    margin: 20% auto;    
    border-radius:50%;    
}
.inputWithIcon2 input[type='radio']:checked:before {
    background:#9ACD32;
}

label > input[type="radio"]:checked 
{
  color: teal;
}

legend
{	
	color:#262626;
	font-size: 20px;	
}

label
{
	padding: 0px 1em 0px 40px;
}

textarea
{
	margin-left:40px;
}


input[type=submit]

{
	background-color:#9ACD32;
	font-size: 18px;
	font-weight: 700;
	color:#262626;
	margin-left:20px;
	margin-right:20px;
	
}

input[type=reset]

{
	background-color:#8f423c;
	font-size: 18px;
	font-weight: 700;
	color:#ededed;
	margin-left:20px;
	margin-right:20px;
		
}

input[type=submit] a
{
	text-decoration:none;
}

/*input[type=button]*/
.loginToRegister
{
	width:350px;
	margin-left:auto;
	margin-right:auto;
	background-color:#91281f;
	font-size: 12px;
	color:white;
	padding: 5px 3px;
	margin-top: 25px;
	border: none;
	border-radius:5px;
	cursor:pointer;
	letter-spacing:2px;
	outline:none;
	text-align: center;
}

a.registerLink 
{
	text-decoration: none;
}

input[type=submit]:focus,
input[type=reset]:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
}

input[type=submit]:hover

{
	
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	color: #8f423c;
	font-weight: 700;
	font-size: 20px;
	background-color:#9ACD32;
}

input[type=reset]:hover
{
	
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	color: white;
	font-weight: 700;
	font-size: 20px;
	background-color:#8f423c;
}

/*input[type=button]:focus*/
.loginToRegister:focus
{
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,1);
}


/*input[type=button]:hover*/
.loginToRegister:hover
{
	background-color:white;
	color:#8f423c;
	font-weight: 700;
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

input::-webkit-input-placeholder
{
    color: #000000;
}
input:focus::-webkit-input-placeholder
{
    color: white;
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #000000;
}
input:focus:-moz-placeholder
{
    color: white;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #000000;
}
input:focus::-moz-placeholder
{
    color: white;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #000000;
}
input:focus:-ms-input-placeholder
{
    color: #000000;
}

.info
{
	margin-left:auto;
	margin-right:auro;
	text-align: center;
	padding:15px;
	color: white;
	
}

/*main menu*/

.image
{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:20px;
}


/* logout */

#container
{
	padding:0;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}





/* add income */

.addForm
{
	background-color:#000000;
	color:white;
	width: 350px;
	padding:50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

textarea { resize: none; }

#container2
{
	padding:0px;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

.tile2
{
	width: 350px;
	display: inline-block;
	margin-top:40px;
	
	background-color: #000000;
	height: 122px;
	
}

.tile2:hover
{
	opacity: 0.5;
}


.blockquote
{
	line-height:120%;
}

.opis img
{
	width: 30%;
	height: auto;
	
}

.opis
{
	text-align:center;
	color: white;
}

.tilelink 
{
	font-family: 'Open Sans', sans-serif;
}
.tile
{
	padding-top:15px;
	text-align:center;
	font-size:16px;
	background-color:#9ACD32;
	font-family: 'Open Sans', sans-serif;
}
.tile:hover
{
	opacity:0.5 !important;
}
.icon-login:hover > span {color: red}


a.tilelink 
{
		
	color: black;
	text-decoration: none;
	text-align:center;
	font-size:16px;
		
}

a.tilelink:hover
{
	color: red;	
		
}

@media (max-width:767px)
{

	a.tilelink 
	{
		
		color: black;
		text-decoration: none;
		text-align:center;
		
	}
	.tilelink
	{
		text-align:center;
		font-size:16px;
		text-decoration: none;
		display:inline;
		
	}
	
	.list-group
	{
		text-align:center;
	}
	
	
}

.naglowek
{
	background-color:#9ACD32;
}


		
.inputWithIcon
{
	position:relative;
}

.inputWithIcon i
{
	position:absolute;
	left:2px;
	top:25px;
	padding: 9x 8px;
	color: 
}

.logo
{
	margin-left:10px;
	color:white;
	font-size:10px;
	
}

.bg-menu
{
	background-color: #8f423c;
}


